<div class="row-col h-v">
  <div class="col-lg-9 b-r no-border-sm">
    <div class="p-a-lg text-center">
      <h3 class="display-4 text-center text-primary m-b-sm inline">ShoZaSong</h3>
      <a href="/copyrights" data-route="/copyrights" class="text-muted">/ШоЗаСонг</a>
      <p class="text-muted text-md m-b-md">
        The service that allows you find <strong>the very song you are searching for</strong>.
      </p>
      <p class="text-md m-b-md">
        It's so easy: You input the words from the song, and ShoZaSong will find the music and the fragment with the
        words you were searching for.
      </p>
      <a href="/" data-route="" class="btn circle btn-outline b-black m-b-md p-x-md" style="border-color: #000;">Give it a try</a>
    </div>
    <div class="b-b m-y"></div>
    <div class="padding">
      <div class="row">
        <p class="text-center m-b-md">
          ShoZaSong was created while the diploma project in "<a class="btn-link text-primary" href="https://park.mail.ru">Technopark</a>".
        </p>
        <div class="col-sm-12 col-md-6 col-lg-12">
          <div class="box">
            <div class="box-header">
              <h3>Our team</h3>
            </div>
            <div class="box-divider m-a-0"></div>
            <ul class="list no-border p-b">
              <li class="list-item">
                <a href="https://vk.com/pershenkova" class="list-left">
                <span class="w-60 avatar">
                  <img src="/assets/images/team_valery.jpg" alt="Valery Pershenkova">
                </span>
                </a>
                <div class="list-body">
                  <div><a href="https://vk.com/pershenkova">Valery Pershenkova</a></div>
                  <small class="text-muted text-ellipsis">The best pythonist</small>
                </div>
              </li>
              <li class="list-item">
                <a href="https://vk.com/id179035143" class="list-left">
                <span class="w-60 avatar">
                  <img src="/assets/images/team_alex.jpg" alt="Alexander Schadko">
                </span>
                </a>
                <div class="list-body">
                  <div><a href="https://vk.com/id179035143">Alexander Schadko</a></div>
                  <small class="text-muted text-ellipsis">Agile-coach, mobile developer</small>
                </div>
              </li>
              <li class="list-item">
                <a href="https://vk.com/nksoff" class="list-left">
                <span class="w-60 avatar">
                  <img src="/assets/images/team_nikita.jpg" alt="Nikita Slimov">
                </span>
                </a>
                <div class="list-body">
                  <div><a href="https://vk.com/nksoff">Nikita Slimov</a></div>
                  <small class="text-muted text-ellipsis">Fullstack-developer</small>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12">
          <div class="list box">
            <div class="box-header">
              <h3>We say thanks to</h3>
            </div>
            <div class="box-divider m-a-0"></div>
            <div class="list-item">
              <div class="list-left">
                <a href="https://telegram.me/Twchs" class="w-40 circle accent avatar">
                  <span>AL</span>
                </a>
              </div>
              <div class="list-body">
                <a href="https://telegram.me/Twchs" class="_500">Alexander Lavrinenko</a>
                <small class="block text-muted">for help in iOS-application deployment</small>
              </div>
            </div>
            <div class="list-item">
              <div class="list-left">
                <a href="https://vk.com/id5536770" class="w-40 circle green avatar">
                  <span>EC</span>
                </a>
              </div>
              <div class="list-body">
                <a href="https://vk.com/id5536770" class="_500">Elena Chernega</a>
                <small class="block text-muted">for everything</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 w-xxl">
    <div class="padding">
      <h5 class="text-muted">Available (almost) everywhere</h5>
      <div class="btn-groups p-t-sm">
        <a href="https://itunes.apple.com/ru/app/shozasong/id1268719795?mt=8" target="_blank"
           class="btn btn-sm dark lt m-r-xs"
           style="width: 135px">
          <span class="pull-left m-r-sm">
            <i class="fa fa-apple fa-2x"></i>
          </span>
          <span class="clear text-left l-h-1x">
          <span class="text-muted text-xxs">Download in</span>
            <b class="block m-b-xs">App Store</b>
          </span>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.cherrypick.shozasong" class="btn btn-sm b-a lt" style="width: 135px">
          <span class="pull-left m-r-sm">
            <i class="fa fa-play fa-2x"></i>
          </span>
          <span class="clear text-left l-h-1x">
            <span class="text-muted text-xxs">Soon in</span>
            <b class="block m-b-xs m-r-xs">Google Play</b>
          </span>
        </a>
      </div>
      <div class="btn-groups p-t-sm">
        <a href="https://telegram.me/zsong_bot" target="_blank" class="btn btn-sm dark b-a lt"
           style="background-color:#0088cc; width: 133px">
          <span class="pull-left m-r-sm">
            <img src="/assets/images/telegram-plane.png" width="20" style="margin-top: 3px"/>
          </span>
          <span class="clear text-left l-h-1x">
            <span class="text-white text-xxs">Bot in</span>
            <b class="block m-b-xs m-r-xs">Telegram</b>
          </span>
        </a>
      </div>
      <div class="b-b m-y"></div>
      <p class="text-muted text-xs p-b-lg">© 2017</p>
    </div>
  </div>
</div>
