<div class="padding">
  <div class="row-col">
    <div class="col-sm-12">
      <div class="row-col">
        <div class="col-lg-9 b-r no-border-md">
          <div class="p-l-md no-padding-xs">
            <h2 class="page-title">Коллекция ShoZaSong</h2>
          </div>
          <div id="collection-pages" class="padding">
          </div>
          <div class="buttons p-r-1">
            <a class="btn white btn-lg btn-block collection-load-next-page">
              Загрузить ещё <i class="material-icons">cached</i>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
        </div>
      </div>
    </div>
  </div>
</div>