//
// fonts
//
@import 'vendor/font-awesome/font-awesome';
@import 'vendor/material-design-icons/material-design-icons';
// @import 'vendor/glyphicons/glyphicons';
// @import 'vendor/poppins/poppins';

.navbar-brand,
.display-1,
.display-2,
.display-3,
.display-4,
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", "Trebuchet MS", "PT Sans", "Helvetica Neue", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  letter-spacing: -0.04em;
  font-weight: bold;
}

body {
  font-family: "Segoe UI", "Trebuchet MS", "PT Sans", "Helvetica Neue", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}