<div class="app" id="app">
  <div id="aside" class="app-aside modal nav-dropdown">
    <div class="left navside grey dk" data-layout="column">
      <div class="navbar no-radius">
        <a href="/" data-route class="navbar-brand md">
          <img src="/assets/images/favicon.png">
          <span class="hidden-folded inline">ShoZaSong</span>
        </a>
      </div>
      <div data-flex class="hide-scroll">
        <nav class="scroll nav-stacked nav-active-primary">
          <div id="menu"></div>
        </nav>
      </div>
      <div data-flex-no-shrink>
        <div class="nav-fold dropup">
          <a data-toggle="dropdown">
              <span class="pull-left">
                <span class="fa fa-2x fa-user-md"></span>
              </span>
            <span class="clear hidden-folded p-x p-y-xs">
                <span class="block _500 text-ellipsis">Док Леопольд</span>
              </span>
          </a>
          <div class="dropdown-menu w dropdown-menu-scale">
            <a class="dropdown-item" id="logout" href="#">Выйти</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="app-footer app-player grey bg" id="player">

  </div>

  <div id="content" class="app-content white bg box-shadow-z2">
    <div class="app-header hidden-lg-up white lt box-shadow-z1">
      <div class="navbar">
        <a href="/" data-route class="navbar-brand md">
          <img src="/assets/images/favicon.png">
          <span class="hidden-folded inline">ShoZaSong</span>
        </a>
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item">
            <a data-toggle="modal" data-target="#aside" class="nav-link">
              <i class="material-icons">menu</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="app-body" id="view">
      <div class="page-content" id="page-content">
      </div>
    </div>
  </div>
</div>