<div class="app" id="app">
  <div id="aside" class="app-aside modal nav-dropdown">
    <div class="left navside grey dk" data-layout="column">
      <div class="navbar no-radius">
        <a href="/" data-route class="navbar-brand md">
          <img src="/assets/images/favicon.png">
          <span class="hidden-folded inline">ShoZaSong</span>
        </a>
      </div>
      <div data-flex class="hide-scroll">
        <nav class="scroll nav-stacked nav-active-primary">
          <div id="menu"></div>
        </nav>
      </div>

      <div id="auth-panel"></div>
    </div>
  </div>

  <div class="app-footer app-player grey bg" id="player">

  </div>

  <div id="content" class="app-content white bg box-shadow-z2">
    <div class="app-header hidden-lg-up white lt box-shadow-z1">
      <div class="navbar">
        <a href="/" data-route class="navbar-brand md">
          <img src="/assets/images/favicon.png">
          <span class="hidden-folded inline">ShoZaSong</span>
        </a>
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item">
            <a data-toggle="modal" data-target="#aside" class="nav-link">
              <i class="material-icons">menu</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="app-body" id="view">
      <div class="page-content" id="page-content">
      </div>
    </div>
  </div>
</div>


<div class="modal fade modal-voice-recording" tabindex="-1" role="dialog" aria-labelledby="modal-voice-recording"
     aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-a">
      <div class="text-center">
        <h3>Запись</h3>
        <div class="text-muted">Произнесите то, что вы хотите найти.</div>
        <div class="m-a-1" style="max-width: 90%;">
          <div id="voice-sound-progress"
               style="height:4px; background: #553d87; min-width: 5%; width: 4%; max-width: 100%;"></div>
        </div>
        <div class="btn-group p-t-md">
          <button class="btn btn-danger" id="button-voice-stop">Стоп</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-voice-handling" tabindex="-1" role="dialog" aria-labelledby=" modal-voice-handling"
     aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-a">
      <div class="text-center">
        <h3>Обработка записи</h3>
        <div class="text-muted">Пожалуйста, подождите.</div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-voice-error" tabindex="-1" role="dialog" aria-labelledby=" modal-voice-error"
     aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-a">
      <div class="text-center">
        <h3>Моя твоя ходила
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h3>
        <div class="text-muted">Очень жаль, но мы не смогли распознать ваши слова. Попробуйте&nbsp;еще&nbsp;раз.</div>
      </div>
    </div>
  </div>
</div>