{{#if user}}
  <div data-flex-no-shrink>
    <div class="nav-fold dropup">
      <a data-toggle="dropdown">
              <span class="pull-left">
                <span class="fa fa-2x fa-user-md"></span>
              </span>
        <span class="clear hidden-folded p-x p-y-xs">
                <span class="block _500 text-ellipsis">{{ user.name }}</span>
              </span>
      </a>
      <div class="dropdown-menu w dropdown-menu-scale">
        <a class="dropdown-item" id="logout" href="#">Выйти</a>
      </div>
    </div>
  </div>
{{/if}}