{{#if user}}
  <div data-flex-no-shrink>
    <div class="nav-fold">
      <a href="/likes" data-route="likes">
              <span class="pull-left">
                <span class="fa fa-2x fa-heart"></span>
              </span>
        <span class="clear hidden-folded p-x p-y-xs">
                <span class="small block _500 text-ellipsis">Что вам нравится</span>
              </span>
      </a>
    </div>
    <div class="nav-fold dropup">
      <a data-toggle="dropdown">
              <span class="pull-left">
                <span class="fa fa-2x fa-user-md"></span>
              </span>
        <span class="clear hidden-folded p-x p-y-xs">
                <span class="block _500 text-ellipsis">{{ user.name }}</span>
              </span>
      </a>
      <div class="dropdown-menu w dropdown-menu-scale">
        <a class="dropdown-item" id="logout" href="#">Выйти</a>
      </div>
    </div>
  </div>
{{ else }}
  <div data-flex-no-shrink>
    <div class="nav-fold dropup">
      <a href="/auth/fb/redirect">
              <span class="pull-left">
                <span class="fa fa-2x fa-facebook"></span>
              </span>
        <span class="clear hidden-folded p-x p-y-xs">
                <span class="small block _500 text-ellipsis">Войти через Facebook</span>
              </span>
      </a>
    </div>
  </div>
{{/if}}